* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body {
    background:#ecedf2;
  }
  header {
    background: #fcfcfc;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-shadow:#a5a5a5 0 0 3px 0;
  }
  header .logo {
  height: 40px;
  border-radius: 20px;
  box-shadow:#0177fb 0 0 2px 0.5px;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li a {
    display: inline-block;
    color: #000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: unset;
    font-size: large;
    transition: 0.2s;
  }
  header nav ul li a:hover,
  header nav ul li a.active {
    border-bottom-color:#0177fb;
  }
  .menu {
    cursor: pointer;
    display: none;
  }
  .menu div {
    width: 30px;
    height: 5px;
    margin: 5px 0;
    background: #000;
  }
  
  @media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
  }
  @media only screen and (max-width: 700px) {
    .menu {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 60px;
        width: 100%;
        background: #f4f4f4;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #f5f5f5;
    padding: 13px 20px;
    box-shadow:#c3c3c3 0 0 1px 0;
    color: #000;
    text-align: right;
    align-items: center;
    font-size: small;
  }


/*---------------------------------------------*/
.container{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}
.box{
    flex: 30%;
    display: table;
    align-items: center;
    text-align: center;
    background-color: #0d1425;
    color: #fff;
    padding: 30px 30px;
    border-radius: 20px;
    margin-bottom: 40px;
}
.box img{
    border-radius: 50%;
    border: 2px solid #fff;
    height: 250px;
    width: 250px;
}
.box ul{
    margin-top: 30px;
    font-size: 18pt;
    text-align: center;
}
.box ul li{
    list-style: none;
    margin-top: 20px;
    font-weight: 100;
}

.Biodata{
    margin-left: 20px;
    flex: 50%;
    display: table;
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 40px;
}

.Biodata h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

.Biodata ul li{
    list-style: none;
}

.Biodata ul p{
    text-align: justify;
    text-justify: newspaper;
}
.Biodata ul{
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .container{
        display: table;
    }

    .box{
        width: 100%;
        margin-bottom: 0px;
    }

    .Biodata{
        width: 100%;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .Biodata h1{
        text-align: center;
    }
}